[submodule "tools/biored_ncbi"]
	path = tools/biored_ncbi
	url = https://github.com/rsleiberin/biored_ncbi.git
[submodule "datasets/SciREX"]
	path = datasets/SciREX
	url = <submodule_url>
[submodule "datasets/dygiepp"]
	path = datasets/dygiepp
	url = <submodule_url>
[submodule "tools/biored_ncbi/src"]
	path = tools/biored_ncbi/src
	url = https://github.com/rsleiberin/biored_ncbi.git
