[submodule "tools/biored_ncbi"]
	path = tools/biored_ncbi
	url = https://github.com/rsleiberin/biored_ncbi.git
[submodule "datasets/SciREX"]
	path = datasets/SciREX
	url = https://github.com/placeholder/private-dataset.git
[submodule "datasets/dygiepp"]
	path = datasets/dygiepp
	url = https://github.com/placeholder/private-dataset.git
[submodule "tools/biored_ncbi/src"]
	path = tools/biored_ncbi/src
	url = https://github.com/rsleiberin/biored_ncbi.git
[submodule "external/PURE/code"]
	path = external/PURE/code
	url = https://github.com/princeton-nlp/PURE.git
